@media (max-width: 600px) {
    .event-img {
        /*width: */
        /*height: 200px;*/
    }
    .event {
        margin: 0;
        padding: 0;
        height: 300px;
        position: relative;
    }
}

@media (min-width: 601px) {
    .event-img {
        width: 100%;
        height: 100%;
    }
    .event {
        margin: 0;
        padding: 0;
        height: 750px;
        position: relative;
    }
}




.chats {
    background: grey;
}

.profile {
    background: #ababab;
}
#navbar {
    background: black;
    border: 0;
    margin: 0;
}
.active-tab {
    color: white;
}
.black-line {
    border-top: 1px solid black;
}
.logo {
    margin-top: 10px;
}
.profile {
    color: black;
}
.number-box {
    background: black;
    color: blue;
    font-size: 54px;
    width: 66px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.profile-info {
    margin-top: 25px;
    margin:bottom 25px;
}
.calendar-date {
    position: absolute;
}
.content {
    margin-bottom: 100px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.squad-button {
    background: black;
    color: #464646;
}
.bottom-buttons {
    border-top: 1px solid grey;
    padding: 1em 0 1em 0;
}
.large-font {
    font-size: 2em;
}
.chat-img {
    height: 200px;
}
.chat-img-holder {
    text-align: right;
}
.profile-img {
    width: 400px;
}
.events {
    margin: 1em 0 0 0;
    background: black;
}
.event-title {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 2px 2px black;
}
.event-date {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 2px 2px black;
}
.event-groups {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.past-event {
    color: white;
    background: grey;
    margin: 10px 0;
}
.past-event-settings {
    color: black;
}
.event-checkbox {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
.no-padding {
    padding: 0;
}
.join-button {
    width:15%;
    font-weight: bold;
    font-size: 3em;
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    height: 10%;
    color: white;
    background-color: green;

}
.info-button {
    display: inline;
    height: 10%;
    font-weight: bold;
    font-size: 2em;
    width: 83%;
    padding: 0;
    border: 0;
    margin: 0;
    color: black;
    background: white;
}
body {
    color: white;
    font-family: 'Oxygen', sans-serif;
    background: #ababab;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', cursive;
    font-weight: 800;
}